.env
.terraform
*.csv
*.json
venv
__pytest_cache__
.coverage
.DS_Store
__pycache__/
terraform/terraform.tfvars
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info