.title {
  margin-left: 1rem;
}

body {
  background: #fefaf5;
  font-family: 'Inter', Arial, sans-serif;
}


main {
  background: #fefaf5;
  padding: 1rem 3rem 2rem;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.05) -2px -2px 4px;
}


h1.display-1 {
  font-size: 70px;
  /* text-align: center; */
  color: #253439;
  /* background-color: #F40105; */
  font-family: "IBM Plex Mono";
  /* background-image: url('https: //media.giphy.com/media/YsUVWDh9buWzT8yLx0/giphy-downsized-large.gif'); */
}


h1.display-2 {
  font-size: 50px;
  /* text-align: center; */
  color: #253439;
  /* background-color: #F40105; */
  font-family: "IBM Plex Mono";
  /* background-image: url('https: //media.giphy.com/media/YsUVWDh9buWzT8yLx0/giphy-downsized-large.gif'); */
}


h1.display-3 {
  font-size: 30px;
  /* text-align: center; */
  color: #253439;
  /* background-color: #F40105; */
  font-family: "IBM Plex Mono";
  /* background-image: url('https: //media.giphy.com/media/YsUVWDh9buWzT8yLx0/giphy-downsized-large.gif'); */
}


h2,
p {
  /* text-align: center; */
  font-size: 13px;
  color: #253439;
  /* background-color: #F40105; */
  font-family: "IBM Plex Mono";
}

h2.result_message {
  /* text-align: center; */
  font-size: 16px;
  color: #253439;
  /* background-color: #F40105; */
  font-family: "IBM Plex Mono";
}

header {
  background: #fefaf5;
  padding: 1rem 3rem 1rem;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.05) -2px -2px 4px;
}

form {
  margin-top: 20px;
  border: 2px solid #d15353;
  /* Red border color */
  padding: 10px;
  /* Optional: Add padding for a better visual appearance */
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: 1px solid #d15353;
  border-radius: 4px;
  font-family: "IBM Plex Mono";
  color: #253439;
}

button {
  background-color: #d15353;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* Change cursor to pointer on hover */
  font-family: "IBM Plex Mono";
}

button:hover {
  background-color: #FF5454;
  /* Change background color on hover */
}

label {
  color: #253439;
  font-family: "IBM Plex Mono";
}

ul {
  /* text-align: center; */
  font-size: 16px;
  color: #253439;
  /* background-color: #F40105; */
  font-family: "IBM Plex Mono";
}

a {
  /* text-align: center; */
  font-size: 16px;
  color: #253439;
  /* background-color: #F40105; */
  font-family: "IBM Plex Mono";
}

/* visited link */
a:visited {
  color: #8f5252;
}

/* mouse over link */
a:hover {
  color: #FF5454;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.menu-item {
  width: 350px;
  margin: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border: 1px solid #F40105;
  /* Thin red border */
  border-radius: 4px;
  /* Optional: Add rounded corners for a better visual appearance */
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.menu-item p {
  padding: 10px;
  text-align: center;
  margin: 0;
  font-size: 14px;
  color: #555;
  word-wrap: break-word;
  /* Add this property to enable word wrapping */
  /* max-height: 3em; */
  /* Set a maximum height for better control */
  overflow: hidden;
  /* Hide overflow beyond the maximum height */
}